<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notice</title>
    <link rel="stylesheet" href="/VCkolkata/public/css/notice.css">


</head>

<body>
    <span>

        <div class="partition" id="leftPartition">
            <div class="notice">
                <span><img class="noticesvg" src="\VCkolkata\public\image\noticeicon.svg" alt=""></span>
                <span><b>Notice</span>
                <br>
                <br>
            </div>
            <div>
                <div class="data">
                    <p><b><span class="date">17.12.2023</b>
    </span><span> college will be cloced on 15th Aug. <b><a href="#" class="anchor-custom-color2">Read
                more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    <p><b><span class="date">17.12.2023</b></span><span> college will be cloced on 15th Aug. <b><a href="#"
                    class="anchor-custom-color2">Read
                    more</a></b></span></p>
    <hr>
    </div>
    <div class="noticefooter">
        <br>
        <p><a href="#" class="anchor-custom-color">View Archived Notice | View sports Notice</a></p>
    </div>
    </div>



    </div>
    <div class="partition" id="rightPartition">
        <img src="\VCkolkata\public\image\vcimg.jpg" alt="">
    </div>


    </span>


    </form>


</body>

</html>