<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Database</title>
    <link rel="stylesheet" href="/VCkolkata/public/css/studentdata.css">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>sl no</th>
                <th>Student name</th>
                <th>Session</th>
                <th>Year</th>
                <th>Course Type</th>
                <th>Course</th>
                <th>sub</th>
                <th>sub</th>
                <th>sub</th>
                <th>Student ID</th>
                <th>Date Of Birth</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="container">
                    <span class="user_dp">
                        <img src="https://xsgames.co/randomusers/assets/avatars/male/74.jpg" alt="user_dp">
                    </span>
                    <span class="right">
                        <h4>samit kumar desmukh</h4>
                        <p>desmukhsamit2004@gmail.com</p>
                    </span>
                </td>
                <td> 2022-2023</td>
                <td>1st</td>
                <td>Honours</td>
                <td>Computer Science</td>
                <td>cc1</td>
                <td>cc2</td>
                <td>cc3</td>
                <td>vc sh42</td>
                <td>20 june 2003</td>

            </tr>

            <tr>
                <td>2</td>
                <td class="container">
                    <span class="user_dp">
                        <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
                            alt="user_dp2">
                    </span>
                    <span class="right">
                        <h4>samit kumar desmukh</h4>
                        <p>desmukhsamit2004@gmail.com</p>
                    </span>
                </td>
                <td> 2022-2023</td>
                <td>1st</td>
                <td>Honours</td>
                <td>Computer Science</td>
                <td>cc1</td>
                <td>cc2</td>
                <td>cc3</td>
                <td>vc sh42</td>
                <td>20 june 2003</td>

            </tr>
            <tr>
                <td>3</td>
                <td class="container">
                    <span class="user_dp">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEZrATmgHOi5ls0YCCQBTkocia_atSw0X-Q&usqp=CAU" alt="user_dp">
                    </span>
                    <span class="right">
                        <h4>samit kumar desmukh</h4>
                        <p>desmukhsamit2004@gmail.com</p>
                    </span>
                </td>
                <td> 2022-2023</td>
                <td>1st</td>
                <td>Honours</td>
                <td>Computer Science</td>
                <td>cc1</td>
                <td>cc2</td>
                <td>cc3</td>
                <td>vc sh42</td>
                <td>20 june 2003</td>

            </tr>
        </tbody>
    </table>
</body>

</html>